@font-face {
    font-family: OpenSans;
    src: url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2);
}
@font-face {
    font-family: secondFont;
    src: url(https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap);
}
 