// COLOR PALETTE
$clr1: #000000; //black
$clr2: #ffffff; //white
$clr3: #63c700; //green
$clr4: #ebcf34;  //yellow

$submit-clr1: #63c700; //green
$submit-clr1: #18bef2; //blue

$html-font-size: 16px;

$heart-emoji-color: #F55064; //pink


// BOX-SHADOW
$shadow1: 0px 0px 1px 1px #00000026;
$shadow2: 0px 0px 3px 1px #00000026;
$shadow3: 0px 0px 4px 1px #00000026;
$shadow3: 5px 5px 9px 2px #00000026;


// LAYOUT BREAKPOINTS
$break-mini-mobile: 320px;
$break-medium-mobile: 440px;
$break-mobile: 680px;
$break-narrow: 820px;
$break-normal: 1080px;
$break-wide: 1200px;